{% load static %}

<div class="ui inverted menu" style="top: 0;
z-index: 100;
position: fixed;
width: 100%;">

    <a class="item" href="{% url 'index' %}">
      Home
    </a>
    <a class="item">
      About Library
    </a>
    <a 
    {% if 'listings' in request.path %}
              class="active item"
            {% else %}
              class="item"
            {% endif %}
           href="{% url 'listings' %}">
      Featured Books
    </a>
    <a
    {% if 'register' in request.path %}
              class="active item"
            {% else %}
              class="item"
            {% endif %} href="{% url 'register' %}">
      Register
    </a>
    
    <a {% if 'login' in request.path %}
    class="active item"
  {% else %}
    class="item"
  {% endif %} href="{% url 'login' %}">
      Login
      </a>
      <div class="right menu">
          {% if user.is_authenticated %}
        <a 
        {% if 'dashboard' in request.path %}
                    class="active item"
                  {% else %}
                    class="item"
                  {% endif %}
        href="{% url 'dashboard' %}">
          Welcome {{ user.username }} (Dashboard)</a>
        <a href="javascript:{document.getElementById('logout').submit()}" class="item">
          Logout
        </a>
        <form action="{% url 'logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden">
        </form>
      {% endif %}
      </div>
  </div>

